<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <% if (@css_rules) %>
      <style type="text/css">
        <%= @css_rules %>
      </style>
    <% end %>
  </head>
  <body>
    <h1><%= @page_title %></h1>
    <% if (@page_description) %>
      <p><%= @page_description %></p>
    <% end %>
    <h2><%= @page_subtitle %></h2>
    <% if (@page_content) %>
    <main><%= @page_content %></main>
    <% end %>
  </body>
</html>
